
// * variables to use
//? sx = <320px
//? sm = |320px  768PX|
//? md = |768PX 1024PX|
//? lg = >1024PX
//*include others files
// @include media(sm) {
//      .codigo para poner{
//          font-size : 16px
//       }
// }
$breakpoint-sm: 360px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

@mixin media($media) {
    @if $media == xs {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    } @else if $media == sm {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            @content;
        }
    } @else if $media == md {
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
            @content;
        }
    } @else if $media == lg {
        @media (min-width: $breakpoint-lg) {
            @content;
        }
    }
}
