@import "./mediaQueries";

$primaryColorLight: #21897e;
$primaryColorDark: #8980f5;
$shadow-input: 5px;
html,
body {
	padding: 0;
	margin: 0;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		Fira Sans,
		Droid Sans,
		Helvetica Neue,
		sans-serif;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.FormContact {
	/* font-family: "Open Sans"; */
	width: 660px;
	margin: auto;
	@include media(sm) {
		padding: 1rem;
		.flex {
			input {
				width: 100%;
				margin: 0.5rem 0;
			}
		}
	}

	h2 {
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
		margin: 30px 0;
	}
	.flex {
		display: flex;
		gap: 1rem;
	}

	.button-container {
		display: flex;
		justify-content: center;
	}

	.buttonSend {
		padding: 20px 50px;
		border-radius: 5px;
		overflow: hidden;
		/* background: ${({ backGroundColor }) => backGroundColor}; */
		color: white;
		border: none;
		font-size: 20px;
		text-align: center;
		transition: 0.3s ease all;
		&.light {
			background: $primaryColorLight;
			&:hover {
				background: darken($primaryColorLight, 15%);
			}
		}
		&.dark {
			background: $primaryColorDark;
			&:hover {
				background: darken($primaryColorDark, 15%);
			}
		}
	}

	@include media(sm) {
		width: 100%;
		.flex {
			flex-direction: column;
		}
		.button-container {
			button {
				width: 100%;
			}
		}
	}
	@include media(xs) {
		width: 100%;
		.flex {
			flex-direction: column;
		}
		.button-container {
			button {
				width: 100%;
			}
		}
	}
}
.FormContact__input {
	outline: none;
	width: 100%;
	padding: 15px;
	font-family: "Open Sans";
}
.FormContact__input--area {
	outline: none;
	font-family: "Open Sans";
	width: 100%;
	height: 200px;
	padding: 1rem;
	margin: 1rem 0;
	resize: none;
}

.flagsContainer {
	display: flex;

	justify-content: space-between;
	align-items: center;
	.menuicon {
		display: none;

		@include media(sm) {
			display: block;
		}
	}
	@include media(sm) {
		width: 100%;
	}
	@include media(xs) {
		width: 100%;
	}
}

.menu-active {
	transform: translateY(0px);
}
.menu-desactive {
	transform: translateY(-100vh);
}

.pointer {
	cursor: pointer;
}

.social {
	padding: 0;
	display: flex;

	justify-content: center;
	align-items: center;

	border-radius: 15px;
	background: #fff;
	/* width: 100%;
	height: 100%
	a {
		border-radius: 15px;
		width: 100%;
		height: 100%;
	} */

	img {
		width: 100%;
		height: 100%;
		@include media(sm) {
			width: 100%;
			height: 100%;
			margin: auto;
		}
	}
}

.imageGridContainer {
	width: 100%;
	height: 200px;
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		height: 200px;
		border-radius: 5px;
		overflow: hidden;
		transition:
			transform 0.5s,
			visibility 0.5s ease-in;
		&:hover {
			transform: scale(1.1);
			opacity: 0.4;
		}
	}

	&:hover {
		transform: translateY(0);
		.buttonsContainer {
			opacity: 1;
		}
	}

	.buttonsContainer {
		transition: 0.5s ease;
		opacity: 0;
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 100;

		text-align: center;
		/* button {
			font-size: 1rem;
			width: 100%;
			padding: 10px;
			&:nth-child(1) {
				margin-bottom: 1rem;
			}
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
		} */
	}
}
